@tailwind base;
/* --------SCROLLBAR-------- */
:root {
	--primary: #01b3a7;
	--light: #ffffff;
}

/* Chrome, Edge, and Safari browsers */
*::-webkit-scrollbar {
	width: 3px;
}

*::-webkit-scrollbar-track {
	background: var(--light);
	border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--primary);
	border-radius: 10px;
}

@tailwind components;
@tailwind utilities;

body{
    font-family: Montserrat, sans-serif;
}

.container{
    @apply max-w-[140rem] mx-auto p-[1.5rem];
}
.tns-nav{
    @apply absolute z-[999] right-[2rem] top-[50%] lg:top-[45%] lg:right-[15%];
}
.tns-nav button{
    @apply bg-gray-400 hover:bg-light hover:opacity-30 focus:bg-primary w-[1rem] h-[1rem] m-[.5rem] flex;
}
.tns-nav .tns-nav-active{
    @apply bg-primary;
}
.blog .tns-nav{
    @apply absolute z-50  top-[93%] left-[35%] lg:left-[45.5%];
}
.blog .tns-nav button{
    @apply bg-gray-400 hover:bg-light hover:opacity-30 focus:bg-primary w-[.8rem] h-[.8rem] lg:w-[1rem] lg:h-[1rem] m-[.5rem] inline-flex;
}
 .blog .tns-nav .tns-nav-active{
    @apply bg-primary;
} 
.gallery .tns-nav{
    @apply absolute z-50  top-[85%] left-[30%] lg:top-[45%] lg:right-[15%];
}
.gallery .tns-nav button{
    @apply bg-gray-400 hover:bg-light hover:opacity-30 focus:bg-primary w-[.8rem] h-[.8rem] m-[.5rem] inline-flex;
}
 .gallery .tns-nav .tns-nav-active{
    @apply bg-primary;
} 

@layer base{
    html{
        font-family:"Montserrat", sans-serif, Arial, sans-serif;
    }
}

@layer components{
    .header__wrapper{
        @apply flex items-center z-50 lg:justify-evenly border-b-[1px];
    }
    .header__social{
        @apply px-[.5rem] py-[1.5rem] border-b-[1px] bg-light;
    }
    .header__social ul{
        @apply flex justify-center gap-[1rem];
    }
    .header__social ul li a i{
        @apply text-[1.2rem];
    }
    .header__actions{
        @apply block fixed top-[2.9rem] w-[50%] left-[-100rem] h-[100vh] bg-light pb-[6rem] z-50 overflow-hidden overflow-y-auto ease-in duration-[.5s] lg:hidden;
    }
    .header__actions.open{
        @apply left-0 ease-in duration-[.5s];
    }
    .header__list{
        @apply lg:flex items-center justify-evenly;
    }
    .header__item:first-child{
        @apply bg-primary text-light lg:bg-transparent;
    }
    .header__item a{
        @apply flex justify-between py-[1.2rem] text-[1rem] cursor-pointer hover:bg-primary hover:text-light duration-[.5s] transition-all lg:px-[2rem] lg:text-light lg:font-bold;
    }

    .header__item a i{
        @apply transition ease-linear duration-300 lg:hidden;
    }
    .header__item a i.open{
        @apply transition ease-linear duration-300 rotate-[180deg];
    }
    .header__item ul{
        @apply max-h-0 overflow-hidden opacity-0 duration-500 transition-all;
    }
    .header__item ul li{
        @apply my-[.5rem];
    }
    .header__item ul.open{
        @apply max-h-[200rem] overflow-visible opacity-100 duration-500 transition-all;
    }
    .header__item ul li{
        @apply py-[1rem] hover:text-light transition-all;
    }
    .elements{
        @apply max-h-0 overflow-hidden transition-all;
    }
    .elements.open{
        @apply max-h-[200rem] overflow-visible py-[.5rem] transition;
    }
    .elements ul{
        @apply max-h-[200rem] my-[1rem] overflow-visible transition;
    }
    .elements h5{
        @apply text-primary text-[1.2rem] border-b-[1px];
    }
    .toggle__menu{
        @apply px-[.8rem] py-[1rem] lg:hidden;
    }
    .toggle__menu span{
        @apply w-[1.5rem] h-[.15rem] bg-dark block rounded-full duration-[.5s] ease-in ;
    }
    .toggle__menu span:nth-child(2){
        @apply my-[.2rem];
    }
    .toggle__menu.open span:first-child{
        @apply w-[.5rem] translate-x-0 translate-y-[9px] bg-dark duration-[.5s] rotate-[225deg] ease-in;
    }
    .toggle__menu.open span:last-child{
        @apply w-[.5rem] translate-x-0 translate-y-[-9px] bg-dark duration-[.5s] rotate-[-225deg] ease-in;
    }
    .ellipsis{
        @apply px-[.8rem] py-[1rem] absolute right-[1.5rem] lg:hidden;
    }
    .ellipsis span{
        @apply w-[.3rem] h-[.3rem] bg-dark block rounded-full duration-[.5s] ease-in ;
    }
    .ellipsis span:nth-child(2){
        @apply my-[.2rem];
    }
    .ellipsis.open span:first-child{
        @apply translate-x-0 translate-y-[15px] bg-dark duration-[.5s] rotate-[225deg] ease-in;
    }
    .ellipsis.open span:last-child{
        @apply translate-x-0 translate-y-[-15px] bg-dark duration-[.5s] rotate-[-225deg] ease-in;
    }
    .header__details{
        @apply block absolute bg-light p-[1rem] right-0 top-[6rem] opacity-0 z-50 overflow-hidden transition-all duration-500 lg:relative lg:overflow-visible lg:max-h-full lg:opacity-100 lg:top-0 lg:right-0 lg:flex lg:items-center lg:gap-[1rem];
    }
    .header__details i{
        @apply mr-[1rem];
    }
    .header__details p{
        @apply p-[.5rem];
    }
    .header__details.open{
        @apply top-[2.9rem] opacity-100 transition-all duration-500;
    }
    .header__btn{
        @apply my-[1rem] flex justify-center;
    }
    .header__btn a{
        @apply text-center p-[.7rem] bg-transparent border-[2px] border-primary w-[12rem] h-[3rem];
    }
    .header__btn a:hover{
        @apply bg-[#50ba87] duration-[.5s] transition-colors;
    }
    .header__nav{
        @apply bg-white lg:bg-[#162e44] duration-500 absolute flex flex-col h-screen overflow-y-scroll left-[-100rem] overflow-hidden text-center lg:relative lg:overflow-visible lg:h-[100%] lg:flex-row-reverse lg:items-center lg:justify-evenly lg:w-full lg:mx-auto lg:left-0 lg:z-50 transition-all;
    }
    .header__nav ul{
        @apply lg:flex transition-all;
    }
    .header__nav ul li{
        @apply my-1 lg:my-0 lg:border-t-4 lg:border-transparent lg:hover:border-primary transition-all;
    }
    .header__nav ul li a{
        @apply  hover:text-white lg:text-white transition-all;
    }
    .header__nav ul li a{
        @apply hover:bg-primary lg:hover:bg-slate-600;
    }
    .header__nav ul li:hover .dropdown{
        @apply lg:overflow-visible lg:top-[3.8rem] lg:max-h-[40rem] opacity-100 transition-all;
    }
    .header__nav ul li:first-child{
        @apply lg:border-primary;
    }
    .header__nav ul li a{
        @apply flex items-center justify-between p-4;
    }
    .header__nav ul li a i{
        @apply lg:hidden;
    }
    .header__nav.open{
        @apply duration-500 top-[4rem] left-0  transition-all lg:top-0;
    }
    .dropdown{
        @apply max-h-0 bg-white overflow-hidden transition-all lg:absolute lg:top-[6rem] lg:overflow-hidden lg:opacity-0 lg:max-h-0 lg:text-dark lg:flex duration-500;
    }
    .dropdown__item{
        @apply lg:mx-[1rem];
    }
    .dropdown h4{
        @apply text-[2rem] text-left text-primary mx-3 border-b-2 lg:border-transparent;
    }
    .dropdown ul{
        @apply flex-col m-3;
    }
    .dropdown ul li{
        @apply lg:border-t-0 ;
    }
    .dropdown ul li a{
        @apply h-[1rem] lg:text-dark lg:hover:bg-transparent lg:translate-x-1 lg:hover:translate-x-0 lg:hover:text-dark lg:border-transparent lg:border-l-4 lg:hover:border-primary;
    }
    .dropdown.open{
        @apply max-h-full transition-all lg:hidden;
    }
    .header__nav__icons{
        @apply p-5 border-b-2 w-full mb-5 lg:flex lg:p-0 lg:mb-0 lg:border-0 lg:gap-3 lg:mr-5 lg:w-[unset];
    }
    .header__nav__icons a{
        @apply text-[1.5rem] hover:text-primary lg:text-white transition-all duration-500 mx-1;
    }
    .header__nav__container{
        @apply lg:bg-dark;
    }
    .header__nav ul li:last-child .dropdown{
        @apply lg:left-0;
    }
    .header__nav ul li:last-child .dropdown ul{
        @apply lg:grid lg:grid-cols-2 lg:border-r-2 lg:px-5 lg:w-[30rem];
    }
}

@layer components{
    .banner{
        @apply relative;
    }
    .banner__slide-1{
        @apply bg-slide1 flex items-center bg-cover bg-center min-h-[100vh] lg:min-h-[45rem];
    }
    .banner__slide-2{
        @apply bg-slide2 flex items-center bg-cover bg-center min-h-[100vh] lg:min-h-[45rem];
    }
    .banner__slide-3{
        @apply bg-slide3 flex items-center bg-cover bg-center min-h-[100vh] lg:min-h-[45rem];
    }
    .banner__text{
        @apply p-[1.5rem] lg:mx-auto w-full max-w-[75rem];
    }
    .banner__text h4{
        @apply text-light font-semibold;
    }
    .banner__text h2{
        @apply text-light text-[2rem] mt-[1rem] mb-[2rem] lg:text-[4rem];
    }
    .banner__text h2 span{
        @apply font-bold;
    }
    .banner__btn{
        @apply my-[1rem];
    }
    .banner__btn a{
        @apply text-center text-light px-[2rem] py-[1rem] bg-transparent border-[2px] border-light w-full h-[3rem];
    }
    .banner__btn a:hover{
        @apply bg-[#50ba87] duration-[.5s] transition-colors;
    }
}

@layer components{
    .tours .container{
        @apply bg-[#f7f7f7];
    }
    .tours__list{
      @apply lg:flex lg:justify-center lg:gap-[2rem];
    }
    .tours__item{
        @apply relative lg:top-[-3rem];
    }
    .tours__item a figure{
        @apply overflow-hidden;
    }
    .tours__item a figure img{
        @apply flex m-auto hover:scale-[1.08] transition-all duration-500;
    }
    .tours__item h3{
        @apply relative text-[1.5rem] text-light text-center top-[-3rem] font-semibold;
    }
    .tours__btn{
        @apply flex justify-center;
    }
    .tours__btn a{
        @apply w-[8rem] transition-[.8s] ease-in rounded-full;
    }
    .tours__btn a:hover{
        @apply translate-x-2 transition-[.8s] ease-in;
    }
    .tours__btn a i{
        @apply ml-[1rem];
    }
        
}

@layer components
{
    .discover__wrapper{
        @apply lg:flex lg:items-start lg:justify-center gap-[5rem];
    }
    .discover__nav{
        @apply text-center max-w-[30rem] lg:max-w-[90rem];
    }
   /* .discover-container{
    @apply flex flex-col justify-center
   } */
    
    .discover__nav ul{
        @apply flex justify-center items-center flex-wrap lg:flex-nowrap;
    }
    .discover__nav ul li{
        @apply relative py-[.5rem] px-[1rem] gap-[2rem] border-t-[1px] border-b-[1px] lg:border-b-[3px] lg:border-t-0;
    }
    .discover__nav ul li:last-child{
        @apply mt-[1rem] lg:mt-0 ;
    }
    .discover__nav__link.active{
        @apply border-primary;
    }
    .discover__nav__link.active a{
        @apply  text-primary;
    }
    .discover__nav ul li a{
        @apply text-dark text-center text-[1.2rem] hover:text-primary;
    }
    .discover__content{
        @apply relative min-h-[17rem];
    }
    .discover__tab{
        @apply lg:block;
    }
    .discover__tab h2{
        @apply text-center font-semibold text-[1.5rem] my-[2rem];
    }
    .discover__tab__content{
        @apply absolute hidden mx-auto max-w-[30rem] translate-x-[5rem]; 
    }
    .discover__tab__content p{
        @apply text-center my-[1rem];
    }
    .discover__tab__content.active{
        @apply inline-block translate-x-0;
    }
    .discover__btn{
        @apply  mt-[4rem] flex gap-[2rem] justify-center;
    }
    .discover__btn a:first-child{
        @apply text-center text-light bg-primary border-[2px] border-primary px-[2rem] py-[1rem] w-[11rem] h-[4rem];
    }
    .discover__btn a:first-child:hover{
        @apply border-dark bg-transparent text-dark transition-all duration-500;
    }
    .discover__btn a:last-child{
        @apply text-center text-dark px-[2rem] py-[1rem] bg-transparent border-[2px] border-dark w-[11rem] h-[4rem];
    }
    .discover__btn a:last-child:hover{
        @apply bg-primary border-primary transition-all duration-500;
    }
}

@layer components{
        .services__wrapper h2{
        @apply flex text-dark text-[2rem] justify-center mb-[2rem] font-semibold;
        }
        .services__item i{
            @apply flex text-[2rem] justify-center my-[1.5rem] text-primary lg:mt-0 lg:pr-[1rem]; 
        }
        .services__item{
            @apply lg:flex lg:items-start lg:p-[2rem];
        }
        .services__item:first-child i{
            @apply rotate-[269deg];
        }
        .services__item h3{
            @apply flex text-[1.3rem] hover:text-primary cursor-pointer justify-center lg:text-[1.2rem] lg:text-left lg:justify-between lg:items-start;
        }
        .services__item p{
            @apply flex max-w-[25rem] text-gray-500 text-center mx-auto my-[1rem] lg:text-justify;
        }
         .services__item{
            @apply border-[6px] text-dark mb-[2rem];
        }
        .services__list{
            @apply lg:grid lg:grid-cols-3 lg:max-w-[70rem] lg:mx-auto lg:gap-3;
        }  
}

@layer components{
    .buy__list{
        @apply p-[2rem];
    }
    .buy__img figure{
        @apply overflow-hidden;
    }
    .buy__img p{
        @apply absolute overflow-hidden top-0 right-0 px-[1rem] py-1 font-bold text-white bg-transparent z-20;
    }
    .buy__img p::before{
        @apply absolute right-[-2rem] top-0 bg-primary block content-[""] w-[5.5rem] h-[2rem] z-[-1] origin-bottom-left skew-x-[45deg];
    }
    .buy__img figure img{
        @apply flex m-auto  cursor-pointer lg:hover:scale-[1.08] transition-all duration-500;
    }
    .buy__item{
        @apply relative lg:border-[1px] lg:border-gray-300 lg:flex lg:items-center lg:max-w-[70rem] lg:mx-auto lg:mb-[2rem];
    }
    .buy__text{
        @apply lg:max-w-[25rem] lg:mx-auto;
    }
    .buy__text span{
        @apply mr-[1rem] my-[1.5rem];
    } 
    .buy__text h5{
        @apply my-[1rem] text-gray-500;
    }
    .buy__text h3{
        @apply text-[1.3rem] text-dark mt-[1rem] font-semibold;
    }
    .buy__text p{
        @apply text-gray-500 text-[.9rem];
    }
     .buy__title h2{
        @apply text-center font-semibold text-dark text-[2rem] mt-[2rem];
     }
     .buy__btn{
        @apply my-[2rem] py-[1rem];
     }
    .buy__btn a{
        @apply text-center text-dark  px-[2rem] py-[1rem] bg-transparent border-[2px] border-dark w-[11rem] h-[4rem];
    }
    .buy__btn a:hover{
        @apply bg-primary border-primary transition-all duration-500;
    }

}

@layer components{
    .team .container{
    @apply bg-light;
}
    .team__title h2{
    @apply flex flex-wrap  max-w-[20rem] mx-auto text-center text-[2rem] font-semibold;
  }
    .team__list{
    @apply flex flex-col justify-center items-center md:grid md:grid-cols-2 md:gap-2  lg:grid-cols-4 lg:max-w-[70rem] lg:gap-[2rem] lg:mx-auto;
}
    .team__member{
    @apply my-[.5rem];
} 
    /* .team__member img{
        @apply bg-dark left-[2rem];
    } */
    .team__image img{
    @apply border-[.8rem] relative left-0 top-[3rem] mx-auto rounded-full border-light lg:hover:-translate-y-4 lg:hover:border-primary transition-all;
}
    .team__image:hover img{
    @apply lg:-translate-y-4 lg:border-primary transition-all;
}
    .team__info{
    @apply bg-gray-100 w-[18rem] h-[13rem] lg:w-[17rem] font-semibold mx-auto text-center  lg:px-[4rem];
}
    .team__info ul{
        @apply pt-[5rem];
    }
    .team__info a{
    @apply leading-[2rem] hover:text-primary transition-all duration-500;
    }
}

@layer components{
    .book{
        @apply relative bg-parallax1 flex items-center bg-cover bg-top min-h-[20rem] lg:bg-center lg:min-h-[30rem] bg-fixed;
    }
    .book__wrapper{
        @apply pt-[4rem] lg:mx-auto lg:max-w-[70rem];
    }
    .book__text{
        @apply text-light mx-auto lg:max-w-[40rem];
    }
    .book__text h2{
        @apply text-[2rem] text-center px-[2rem] lg:text-[3rem];
    }
    .book__text h2 span{
        @apply font-bold;
    }
    .book__text h4{
        @apply text-center px-[1rem];
    }
    .book__btn{
        @apply flex justify-center my-[2rem] py-[1rem];
     }
    .book__btn a{
        @apply text-center text-light  px-[2rem] py-[1rem] bg-primary font-semibold border-[2px] border-primary w-[13.5rem] h-[3.5rem];
    }
    .book__btn a:hover{
        @apply bg-transparent border-light text-light transition-all duration-500;
    }
    
}

@layer components{
    .people .container{
        @apply bg-[#f7f7f7];
    }
    .people__title h2{
        @apply text-center text-[2rem] pt-[2rem] font-semibold;
    }
    .people__wrapper{
        @apply lg:max-w-[70rem] lg:mx-auto;
    }
    .people__list{
        @apply lg:flex lg:justify-center lg:items-center gap-[2rem]; 
    }
    .people__item{
        @apply bg-light border-[1px] drop-shadow-2xl px-[.5rem] pb-[1rem] my-[4.5rem] lg:max-w-[21rem];
    }
    .people__image{
        @apply flex justify-center;
    }
    .people__image img{
        @apply cursor-pointer border-[12px] border-light rounded-full mt-[-3rem];
    }
    .people__text{
        @apply mx-auto;
    }
    .people__text p{
        @apply text-center text-[.9rem] my-[1rem] text-gray-600;
    }
    .people__text h3{
        @apply text-primary text-[1.3rem] text-center cursor-pointer hover:text-green-400;
    }

}

@layer components{
    .years__title h2{
        @apply text-center text-[2rem] pt-[2rem] font-semibold;
    }
    .years__wrapper{
        @apply lg:max-w-[70rem] mx-auto;
    }
    .years__list{
        @apply my-[2rem] lg:flex lg:items-center lg:justify-center lg:gap-[2rem];
    }
    .years__item{
        @apply my-[2rem];
    }
    .years__bg{
        @apply bg-years flex mx-auto items-center bg-cover w-[18rem] h-[16rem] lg:w-[21rem] lg:h-[19rem];
    }
    .years__content{
        @apply bg-light py-[4rem] w-[16rem] h-[14rem] mx-auto lg:w-[19rem] lg:h-[17rem];
    }
    .years__content h3{
        @apply flex justify-center text-center text-[2.5rem] font-bold lg:text-[4rem];
    }
    .years__content h4{
        @apply flex justify-center text-center max-w-[16rem] font-semibold lg:text-[1.5rem] lg:max-w-[10rem] lg:mx-auto;
    }

}
@layer components{
        .signup{
        @apply w-full;
    }
        .signup__wrapper{
            @apply bg-parallax2 bg-no-repeat min-h-[22rem] bg-center w-full bg-fixed;
    }
       .signup__text h2{
        @apply pt-[2rem] text-center font-semibold text-[2rem] text-light;
    }
       .signup__text p{
        @apply text-center text-light pt-3 mx-[1rem] 
    }
        .signup__wrapper form{
            @apply lg:flex max-w-[28rem] lg:mx-auto;
        }
       .signup__wrap{
        @apply pt-[1rem] flex flex-col lg:w-fit lg:mx-auto lg:flex-row;
    }
        .signup__wrap input{
            @apply p-[1rem] bg-white mx-[1rem]  bg-opacity-40 lg:my-[1rem] lg:mr-[1rem] lg:w-[20rem];
    }
        .signup__wrap input::focus{
            @apply border-none;
    }
        .signup__wrap input::placeholder{
            @apply text-white;
    }
        .signup__btn{
            @apply flex justify-center mt-[.5rem] lg:mt-[1rem];
        }
        .signup__btn a{
            @apply bg-primary font-semibold text-center text-light p-[1rem] mx-[1rem] my-[1rem] w-[25.5rem] hover:bg-dark transition-all duration-300 lg:w-[8rem] lg:p-[.9rem] lg:h-[3.5rem];
    }
}

@layer components{
    .blog{
        @apply lg:max-w-[70rem] lg:m-auto relative;
    }
    .blog__wrapper{
        @apply mx-auto;
    }
    .blog__title h2{
        @apply text-center text-[2rem] pt-[2rem] font-semibold mb-[2rem]; 
    }
    .blog__slide{
        @apply relative w-fit flex items-center justify-center pb-[5rem];
    }
    .blog__slide:hover img{
        @apply lg:scale-105 transition-all duration-500;
    }
    .blog__slide:hover ul li{
        @apply h-full translate-y-0 transition-all opacity-100;
    }
    .blog__bg{
        @apply overflow-hidden w-fit mx-auto;
    }
    .blog__bg img{
        @apply w-fit transition-all duration-500 ;
    }
    .blog__content{
        @apply text-center absolute bottom-10 bg-white w-[80%] mx-auto left-[10%] shadow-md p-[1rem] transition-all;
    }
    .blog__content h3{
        @apply text-[1.4rem] font-bold hover:text-primary transition-all duration-500;
    }
    .blog__content h4{
        @apply text-[1.2rem] text-primary;
    }
    .blog__content ul{
        @apply flex items-center justify-center gap-2;
    }
    .blog__content ul li{
        @apply lg:overflow-hidden lg:-translate-y-5 lg:h-0 lg:opacity-0 transition-all;
    }
    .blog__content ul li a{
        @apply text-[1.5rem] hover:text-primary transition-all duration-500;
    }
}

@layer components{
    
	.gallery{
		@apply bg-grey relative flex flex-col pb-[5rem];
	}
	.gallery__title h2{
		@apply text-center bg-light px-[2rem] py-[.5rem] mb-[2rem] w-fit mx-auto;
	}

	.gallery__wrapper{
        @apply flex items-center justify-center mx-auto;
    }

	.gallery__slide{
	@apply relative flex flex-row justify-center items-center gap-[1rem] h-fit w-fit overflow-hidden mx-auto lg:m-0;
	}

	.gallery__item img{
		@apply w-[25rem] transition-all duration-500;
	}
	.gallery__item img:hover{
		@apply scale-105 transition-all duration-500;
	}

	.gallery__slide i{
		@apply absolute mb-[1rem] ml-[1rem] h-[16rem] w-[22rem] lg:h-[10rem] lg:w-[14.7rem] bg-black bg-opacity-20 flex items-center justify-center mx-1 my-2 bottom-0 left-[10%] text-white text-[2rem] border-2 border-white lg:opacity-0 transition-all duration-500 lg:ml-[1rem] lg:my-[1rem];
	}

	.gallery__item{
		@apply flex justify-center;
	}
}

@layer components{
    .links{
		@apply bg-[#162e44] py-[3rem];
	}

	.links__wrapper{
		@apply flex flex-col justify-center items-center gap-[1.5rem] lg:flex-row lg:max-w-[70rem] lg:items-start lg:gap-[10rem] lg:mx-auto;
	}

	.links-item h3{
		@apply text-center text-[1.1rem] text-light mb-[1rem] lg:text-left;
	}

	.links-contact{
		@apply w-[15rem];
	}

	.links-contact-details{
		@apply flex flex-row items-start gap-[1.5rem] mb-[1rem];
	}

	.links-contact-details i{
		@apply text-[1.2rem] text-primary;
	}

	.links-contact-details a{
		@apply text-[1rem] text-light font-light;
	}

	.links-contact-details a:hover{
		@apply text-primary;
	}

	.news-item{
		@apply w-[15rem] mb-[1rem];
	}

	.news-item a{
		@apply text-primary text-[1rem] font-medium;
	}

	.news-item a:hover{
		@apply text-primary;
	}

	.news-item h5{
		@apply text-gray-500 text-[.8rem];
	}

	.links-item ul{
		@apply flex flex-wrap justify-center items-center gap-[1rem] w-[25rem] lg:flex-col lg:justify-start lg:items-start lg:h-[6rem] lg:gap-[1rem];
	}

	.links-item ul li a{
		@apply flex items-center gap-[.5rem] text-[1rem] text-light;
	}

	.links-item ul li a:hover{
		@apply text-primary;
	}

	.links-item ul li a i{
		@apply text-primary text-[.5rem];
	}

	.links-btn{
		@apply flex justify-center mt-[1.5rem] lg:block lg:mt-[1.3rem];
	}
    .links-btn a{
        @apply text-center text-light  px-[2rem] py-[1rem] bg-primary font-semibold border-[2px] border-primary w-[13.5rem] h-[3.5rem] hover:bg-green-500;
    }

}

@layer components{
    .footer{
		@apply bg-[#162e44];
	}

	.footer__wrapper{
		@apply flex flex-col justify-center items-center gap-[1rem] lg:mx-auto lg:flex-row lg:justify-between lg:gap-0 lg:max-w-[70rem];
	}

	.footer__wrapper p{
		@apply text-gray-500 text-[.9rem] font-medium order-1 lg:order-none;
	}

	.footer__wrapper ul{
		@apply flex items-center gap-[1rem] ;
	}

	.footer__wrapper ul li a{
		@apply text-gray-500;
	}

	.footer__wrapper ul li a:hover{
		@apply text-primary;
	}

	.footer__wrapper .policy{
		@apply text-gray-500 text-[.9rem] font-medium order-1 lg:order-none;
	}

	.footer__wrapper .policy:hover{
		@apply text-primary;
	}
}